streamlit
chromadb
openai
langchain
langchain-openai
langchain_chroma
langchain-community
langchain-huggingface
loguru
unstructured
PyPDF[crypto]
python-docx
# tiktoken
# python-magic-bin
# sentence-transformers